h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; }

h5 {
  font-size: 1.1em;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 5px;
  color: #868686; }

a {
  text-decoration: none;
  color: inherit; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  overflow: auto;
  font-family: 'Raleway', sans-serif; }

.container {
  overflow-x: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }

.images {
  opacity: 0.8; }
  .images img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    display: none; }
  .images .active {
    display: block; }

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 400px;
  position: absolute;
  bottom: 35%;
  right: 100px; }
  .hero-text img {
    width: 400px;
    margin-bottom: 10px; }
  .hero-text .secondary-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.85);
    color: #555;
    height: 35px;
    width: 220px; }

.arrows {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 30px;
  top: 115px; }
  .arrows i {
    margin: 0 5px;
    padding: 20px;
    opacity: 0.7;
    transition: opacity 1s;
    z-index: 2; }
    .arrows i:hover {
      opacity: 1;
      cursor: pointer; }

.fa-angle-right:before, .fa-angle-left:before {
  position: absolute;
  top: 0;
  color: white; }

.circles {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: -35px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 0.8em;
  z-index: 3;
  transform: translate(-50%, 0); }
  .circles i {
    margin: 2px; }
    .circles i:hover {
      cursor: pointer; }

.more {
  left: 50%;
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 0) scale(1);
  transition: transform ease-in-out 300ms;
  position: absolute;
  bottom: 6%;
  width: 50px;
  height: 50px;
  border-radius: 50%; }
  .more:hover {
    cursor: pointer;
    transform: translate(-50%, 0) scale(1.2); }

.section-two {
  top: 100vh;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 3;
  background: #dadad7; }

.module-container {
  margin-left: auto;
  margin-right: auto;
  top: 150px;
  position: relative;
  height: 35%;
  width: 80%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .module-container:nth-child(2) {
    height: 25%; }
  .module-container .module {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 32.5%; }
    .module-container .module img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .module-container .module-large {
    position: relative;
    height: 70%;
    width: 49.45%; }
    .module-container .module-large img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .module-container .module-large .module-text {
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background: white;
      border: 1px solid transparent;
      transition: all ease-in 300ms;
      width: 80%;
      height: 90%;
      left: 50%;
      top: -10%;
      transform: translate(-50%, 0);
      color: #555; }
      .module-container .module-large .module-text:hover {
        cursor: pointer;
        border: 1px solid rgba(130, 130, 130, 0.4);
        box-shadow: 0px 0px 10px #555; }

.line {
  position: absolute;
  width: 30%;
  top: 51.5%;
  height: 1px;
  background: #555; }

.hidden-module-text {
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transition: all ease-in-out 600ms;
  top: 137%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .hidden-module-text i {
    position: absolute;
    transform: rotate(0deg);
    transition: all ease-in-out 600ms;
    top: -30px; }
  .hidden-module-text h5 {
    font-weight: normal; }

.module:hover > .hidden-module-text {
  cursor: pointer;
  top: 50%; }
  .module:hover > .hidden-module-text i {
    transform: rotate(180deg); }

.top {
  left: 50%;
  z-index: 5;
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 0) scale(1);
  transition: transform ease-in-out 300ms;
  position: absolute;
  bottom: 20%;
  width: 50px;
  height: 50px;
  border-radius: 50%; }
  .top:hover {
    cursor: pointer;
    transform: translate(-50%, 0) scale(1.2); }

.nav-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  height: 60px;
  z-index: 4;
  position: fixed;
  width: 100%; }
  .nav-main ul {
    width: 80%;
    color: #555;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-transform: uppercase;
    font-size: 0.8em; }
    .nav-main ul li {
      padding: 5px 40px;
      align-self: center;
      border-right: 1px solid rgba(130, 130, 130, 0.4); }
      .nav-main ul li:hover {
        cursor: pointer; }

.bottom-border {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  z-index: 4;
  top: 63px; }

.footer {
  height: 160px;
  width: 100%;
  background: white;
  position: relative;
  z-index: 5;
  bottom: -280px;
  color: #555;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer .item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1100px; }
  .footer .footer-item {
    width: 30%;
    text-align: center;
    border-left: 1px solid rgba(130, 130, 130, 0.4); }
    .footer .footer-item:nth-child(1) {
      border: none; }

/*# sourceMappingURL=applications.css.map */
