/*=================Color Variables===================//*/
/*=================Max Width===================//*/
/*=================Media Queries===================//*/
h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555; }

h4 {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #555; }

h5 {
  font-size: 1.1em;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 5px;
  color: #868686; }

p {
  font-size: 0.8em;
  font-style: italic;
  color: #868686;
  margin-top: 5px; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    text-decoration: underline; }

.container .hover-text {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*===================Menu Bars Animation=====================//*/
.animate-top {
  -webkit-animation: top-bar 800ms 1 both;
  animation: top-bar 800ms 1 both; }

.animate-middle {
  -webkit-animation: middle-bar 400ms 1 both;
  animation: middle-bar 400ms 1 both; }

.animate-bottom {
  -webkit-animation: bottom-bar 800ms 1 both;
  animation: bottom-bar 800ms 1 both; }

/*===================Keyframes=====================//*/
@-webkit-keyframes top-bar {
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
    top: 8px; } }
@keyframes top-bar {
  100% {
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
    top: 8px; } }
@-webkit-keyframes middle-bar {
  100% {
    opacity: 0; } }
@keyframes middle-bar {
  100% {
    opacity: 0; } }
@-webkit-keyframes bottom-bar {
  100% {
    -webkit-transform: rotate(-45deg) scale(0.8);
    transform: rotate(-45deg) scale(0.8);
    top: -8px; } }
@keyframes bottom-bar {
  100% {
    -webkit-transform: rotate(-45deg) scale(0.8);
    transform: rotate(-45deg) scale(0.8);
    top: -8px; } }
.top {
  z-index: 5;
  color: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  position: relative;
  bottom: 20%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 60px auto; }
  @media screen and (max-width: 950px) {
    .top {
      margin: 80px auto; } }
  @media screen and (max-width: 740px) {
    .top {
      margin: 40px auto; } }
  .top:hover {
    cursor: pointer;
    color: rgba(130, 130, 130, 0.4); }

.top.fixed {
  display: none;
  background: rgba(255, 255, 255, 0.6);
  position: fixed;
  border: none;
  bottom: 15px;
  -webkit-transition: background ease-in-out 300ms;
  transition: background ease-in-out 300ms;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .top.fixed i {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.top.normal {
  margin: 20px auto; }
  @media screen and (max-width: 740px) {
    .top.normal {
      top: -30px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  @media screen and (max-width: 740px) {
    * {
      overflow-x: hidden; } }

body {
  font-family: sans-serif;
  background-color: white;
  color: white;
  overflow: auto;
  font-family: 'Raleway', sans-serif; }

.wrap {
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: left ease-in-out 200ms;
  transition: left ease-in-out 200ms; }
  @media screen and (max-width: 740px) {
    .wrap.pull {
      z-index: 6;
      box-shadow: 0px 0px 10px #555;
      left: 80%;
      overflow: hidden; } }
  @media screen and (max-width: 740px) {
    .wrap {
      overflow-x: hidden; } }

.fixed-container {
  position: fixed;
  width: 700px; }

.home-container {
  position: relative;
  height: 100vh; }

.container {
  width: 100%;
  background: #dadad7;
  padding-top: 1px;
  margin-top: -1px;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 740px) {
    .container {
      background: white; } }

.content {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 1100px;
  position: relative;
  width: 80%;
  padding: 5% 10%;
  background: white;
  text-align: center; }
  @media screen and (max-width: 740px) {
    .content {
      margin-top: 55px;
      width: 100%; } }
  .content .image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

/*=================Hero Image Styling===================//*/
.images img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
  opacity: 0; }
.images .active {
  opacity: 1; }

/*=================Hero Text Styling===================//*/
.text-contain {
  position: absolute;
  max-width: 1400px;
  height: 40%;
  width: 100%;
  z-index: 3;
  bottom: 15%;
  left: 45%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  @media screen and (max-width: 740px) {
    .text-contain {
      display: none; } }

.hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 400px;
  position: absolute;
  bottom: 35%;
  right: 100px; }
  .hero-text img {
    width: 400px;
    margin-bottom: 10px; }
  .hero-text .secondary-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.85);
    color: #555;
    height: 35px;
    width: 220px; }

.large-screen-arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 30px;
  top: 115px; }
  .large-screen-arrows i {
    margin: 0 5px;
    padding: 20px;
    opacity: 0.7;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    z-index: 2; }
    .large-screen-arrows i:hover {
      opacity: 1;
      cursor: pointer; }
  .large-screen-arrows .fa-angle-right:before, .large-screen-arrows .fa-angle-left:before {
    position: absolute;
    top: 0;
    color: white; }

.small-screen-arrows {
  position: absolute;
  z-index: 4;
  top: 50%;
  color: rgba(255, 255, 255, 0.85);
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none; }
  .small-screen-arrows i {
    margin: 0 5px;
    font-size: 2.5em;
    padding: 20px;
    opacity: 0.7;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    z-index: 2; }
    .small-screen-arrows i:hover {
      opacity: 1;
      cursor: pointer; }
  @media screen and (max-width: 740px) {
    .small-screen-arrows {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

/*=================Hero Circles Styling===================//*/
.circles {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 0px;
  right: -35px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 0.8em;
  z-index: 3;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }
  .circles i {
    margin: 2px; }
    .circles i:hover {
      cursor: pointer; }

.more {
  left: 50%;
  color: rgba(255, 255, 255, 0.85);
  border: 3px solid rgba(255, 255, 255, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3;
  -webkit-transform: translate(-50%, 0) scale(1);
  transform: translate(-50%, 0) scale(1);
  -webkit-transition: -webkit-transform ease-in-out 300ms;
  transition: -webkit-transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
  position: absolute;
  bottom: 6%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms; }
  .more:hover {
    cursor: pointer;
    -webkit-transform: translate(-50%, 0) scale(1.2);
    transform: translate(-50%, 0) scale(1.2); }
  @media screen and (max-width: 540px) {
    .more {
      bottom: 12%; } }

.content h2 {
  margin: 0 auto;
  border-bottom: 1px solid rgba(130, 130, 130, 0.4);
  padding-bottom: 15px;
  margin-bottom: 15px; }
.content p {
  font-style: normal;
  font-weight: bold;
  font-size: .85em;
  line-height: 1.5em;
  margin-bottom: 15px; }
.content img {
  max-width: 90%; }
.content .top {
  color: #555;
  -webkit-transition: color ease-in-out 100ms;
  transition: color ease-in-out 100ms;
  margin: 40px auto 0px; }
  .content .top:hover {
    color: rgba(130, 130, 130, 0.4); }

.container {
  background: white; }
  .container .content {
    min-height: 78vh;
    max-width: 1400px;
    padding: 1% 0 1% 0;
    width: 100%; }
    @media screen and (max-width: 740px) {
      .container .content {
        padding-top: 0; } }
    .container .content h2 {
      margin: 20px auto;
      width: auto;
      font-size: 2em;
      font-family: serif;
      border-bottom: none; }
      @media screen and (max-width: 740px) {
        .container .content h2 {
          margin-top: 0; } }
    .container .content h4 {
      font-weight: bold;
      opacity: 1;
      -webkit-transition: opacity ease-in-out 200ms;
      transition: opacity ease-in-out 200ms; }
      @media screen and (max-width: 740px) {
        .container .content h4:first-child {
          opacity: 0; } }
      @media screen and (max-width: 740px) {
        .container .content h4:nth-child(n+2) {
          display: none; } }
    .container .content a {
      text-decoration: none; }
    .container .content .image-container .image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 33.33%;
      padding: 3px 5px;
      height: 100%; }
      .container .content .image-container .image img {
        max-height: 100%;
        max-width: 100%;
        width: 600px;
        -o-object-fit: cover;
        object-fit: cover; }
        @media screen and (max-width: 740px) {
          .container .content .image-container .image img {
            height: 325px; } }
      @media screen and (max-width: 950px) {
        .container .content .image-container .image {
          width: 50%; } }
      @media screen and (max-width: 740px) {
        .container .content .image-container .image {
          margin-top: -15px;
          height: 400px;
          width: 100%;
          overflow: hidden; } }

.container .hover-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
  width: 90%;
  height: 80%;
  background: rgba(255, 255, 255, 0.85);
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms; }
  @media screen and (max-width: 740px) {
    .container .hover-text {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      background: none;
      left: 0;
      top: auto;
      bottom: -20px;
      position: absolute;
      width: 100%;
      height: auto;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      opacity: 1; } }
  @media screen and (max-width: 540px) {
    .container .hover-text {
      bottom: -15px;
      height: 50px;
      padding: 10px; } }
  .container .hover-text small {
    font-size: .7em; }
  .container .hover-text h2 {
    font-size: 1.5em;
    margin: 0;
    padding: 0; }
    @media screen and (max-width: 740px) {
      .container .hover-text h2 {
        font-size: 1.2em; } }
    @media screen and (max-width: 540px) {
      .container .hover-text h2 {
        font-size: 1em; } }
  .container .hover-text h3 {
    margin: 10px 50px;
    padding: 10px;
    border-top: 1px solid rgba(130, 130, 130, 0.4);
    color: #555; }
    @media screen and (max-width: 740px) {
      .container .hover-text h3 {
        display: none; } }

.image:hover > .hover-text {
  cursor: pointer;
  opacity: 1; }

.contact-about {
  max-width: 1100px;
  background: white;
  margin: 0 auto;
  overflow: auto; }
  .contact-about .content {
    padding: 0;
    max-width: 800px; }
    @media screen and (max-width: 740px) {
      .contact-about .content {
        max-width: 100%;
        padding: 0 30px; } }
    .contact-about .content h2 {
      margin-top: 20px;
      font-size: 2em;
      font-family: serif; }
    .contact-about .content h4 {
      opacity: 1;
      -webkit-transition: opacity ease-in-out 200ms;
      transition: opacity ease-in-out 200ms; }
      @media screen and (max-width: 740px) {
        .contact-about .content h4 {
          opacity: 0; } }
    .contact-about .content img {
      max-width: 100%; }
    .contact-about .content .top {
      margin: 50px auto; }

form {
  margin: 0 auto 20px auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  form label {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    color: #555;
    margin-top: 20px;
    font-size: .8em;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-indent: 10px;
    text-align: left; }
  form input:-webkit-autofill,
  form input:-webkit-autofill:hover,
  form input:-webkit-autofill:focus,
  form input:-webkit-autofill:active {
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    border-color: rgba(130, 130, 130, 0.4);
    border-style: solid;
    border-width: 1px; }
  form input, form select, form button, form textarea {
    font-family: 'Raleway', sans-serif;
    margin: 1%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    height: 40px;
    font-size: .8em;
    text-indent: 10px;
    color: #a2a2a2; }
    form input:focus, form input:active, form select:focus, form select:active, form button:focus, form button:active, form textarea:focus, form textarea:active {
      outline: none;
      border: 1px solid #868686;
      background: none; }
    @media screen and (max-width: 740px) {
      form input, form select, form button, form textarea {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
  form select {
    background: none;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    border: none;
    outline: 1px solid rgba(130, 130, 130, 0.4);
    color: #a2a2a2;
    -webkit-appearance: none;
    -webkit-border-radius: 0px; }
  form textarea {
    padding-top: 10px;
    height: 100px;
    max-height: 300px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    outline: 1px solid rgba(130, 130, 130, 0.4);
    border: none; }
  form button {
    max-width: 200px;
    margin: 10px auto;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    background: none;
    border: 1px solid rgba(130, 130, 130, 0.4);
    -webkit-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out; }
    form button:hover {
      cursor: pointer;
      background: #555;
      color: white; }

.container {
  max-width: 1000px;
  /*changes max width of images on page*/
  margin: 0 auto; }
  .container .content {
    max-width: 100%;
    top: 0;
    width: 100%; }
    .container .content a {
      text-decoration: none; }
    .container .content .text {
      margin: 0 auto;
      max-width: 1100px;
      padding: 35px; }
      .container .content .text h4 {
        margin-bottom: 15px; }
      .container .content .text h5 {
        margin-bottom: 10px; }
      .container .content .text p {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 0px;
        max-width: 900px; }
    .container .content .prev-next {
      width: 50%;
      position: relative;
      margin-top: 40px; }
      .container .content .prev-next h2 {
        white-space: nowrap;
        font-family: serif; }
        .container .content .prev-next h2:hover {
          color: #868686; }
        @media screen and (max-width: 740px) {
          .container .content .prev-next h2 {
            font-size: 1.3em;
            margin-bottom: 0px; } }
        @media screen and (max-width: 540px) {
          .container .content .prev-next h2 {
            font-size: 1em;
            border: none;
            margin: 0; } }
      @media screen and (max-width: 540px) {
        .container .content .prev-next p {
          display: none; } }
    .container .content .image-container .image-horizontal, .container .content .image-container .image-vertical {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 2.5px 5px; }
      .container .content .image-container .image-horizontal img, .container .content .image-container .image-vertical img {
        max-height: 100%;
        max-width: 100%;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover; }
    .container .content .image-container .image-vertical {
      width: 50%; }
      @media screen and (max-width: 740px) {
        .container .content .image-container .image-vertical {
          width: 100%; } }

.portfolio {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto; }
  .portfolio .content {
    top: 0;
    margin-top: 50px;
    max-width: 100%;
    width: 100%;
    padding: 0 40px; }
    .portfolio .content .top.normal {
      margin: 20px auto; }
    .portfolio .content h2 {
      font-family: serif;
      font-size: 2em; }
    .portfolio .content a {
      text-decoration: none; }
    .portfolio .content .text {
      margin: 0 auto;
      max-width: 1100px;
      padding: 35px; }
      .portfolio .content .text h4 {
        margin-bottom: 15px;
        opacity: 1;
        -webkit-transition: opacity ease-in-out 200ms;
        transition: opacity ease-in-out 200ms; }
        @media screen and (max-width: 740px) {
          .portfolio .content .text h4:first-child {
            opacity: 0; } }
      .portfolio .content .text h5 {
        margin-bottom: 10px; }
      .portfolio .content .text p {
        margin-bottom: 0px; }
    .portfolio .content .prev-next {
      width: 50%;
      position: relative;
      margin-top: 40px; }
      .portfolio .content .prev-next h2 {
        border: none;
        font-size: 1.3em;
        white-space: wrap;
        font-family: serif; }
        .portfolio .content .prev-next h2:hover {
          color: #868686; }
        @media screen and (max-width: 540px) {
          .portfolio .content .prev-next h2 {
            font-size: 1em; } }
    .portfolio .content .image-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .portfolio .content .image-container .image-horizontal {
        position: relative;
        width: 100%;
        padding: 2.5px 5px;
        height: 100%; }
        .portfolio .content .image-container .image-horizontal img {
          max-height: 100%;
          max-width: 100%;
          width: 100%; }
      .portfolio .content .image-container .image-vertical {
        position: relative;
        width: 50%;
        padding: 2.5px 5px;
        height: 100%; }
        .portfolio .content .image-container .image-vertical img {
          max-height: 100%;
          max-width: 100%;
          width: 100%; }
        @media screen and (max-width: 740px) {
          .portfolio .content .image-container .image-vertical {
            width: 100%; } }

.section-two {
  height: 100%;
  width: 100%;
  z-index: 3;
  background: #dadad7; }

.module-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 35%;
  width: 80%;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 950px) {
    .module-container {
      width: 90%; } }
  .module-container:first-of-type {
    padding-top: 120px;
    margin-bottom: 40px; }
    @media screen and (max-width: 950px) {
      .module-container:first-of-type {
        margin-bottom: 0; } }
  .module-container:nth-child(2) {
    height: 25%;
    margin-bottom: 50px; }
  .module-container .module {
    overflow: hidden;
    position: relative;
    height: 350px;
    width: 32.5%; }
    @media screen and (max-width: 950px) {
      .module-container .module {
        margin-bottom: 1%;
        height: 300px; } }
    @media screen and (max-width: 740px) {
      .module-container .module {
        width: 100%; } }
    .module-container .module img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .module-container .module-large {
    position: relative;
    height: 240px;
    width: 49.45%; }
    @media screen and (max-width: 740px) {
      .module-container .module-large {
        width: 100%;
        margin-bottom: 1%;
        overflow-x: visible; } }
    .module-container .module-large img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .module-container .module-large .module-text {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: white;
      border: 1px solid transparent;
      -webkit-transition: all ease-in-out 300ms;
      transition: all ease-in-out 300ms;
      width: 80%;
      height: 90%;
      left: 50%;
      top: -10%;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      color: #555; }
      .module-container .module-large .module-text:hover {
        cursor: pointer;
        border: 2px solid rgba(130, 130, 130, 0.4);
        border-radius: 5px; }
      @media screen and (max-width: 950px) {
        .module-container .module-large .module-text {
          top: 5%; } }
      @media screen and (max-width: 740px) {
        .module-container .module-large .module-text {
          border-radius: 5px;
          width: 80%;
          height: 60%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background: rgba(255, 255, 255, 0.85);
          border: 2px solid white; }
          .module-container .module-large .module-text:hover {
            cursor: default;
            border: inherit;
            border: 2px solid white; }
          .module-container .module-large .module-text h2:hover {
            cursor: pointer;
            color: #3c3e16; }
          .module-container .module-large .module-text h5 {
            color: #555;
            font-weight: 500; }
            .module-container .module-large .module-text h5:hover {
              cursor: pointer;
              color: #3c3e16; } }

/*=====================Hidden module text==========================//*/
.line {
  position: absolute;
  width: 30%;
  top: 51.5%;
  height: 1px;
  background: #555; }
  @media screen and (max-width: 740px) {
    .line {
      display: none; } }

.hidden-module-text {
  border-radius: 5px;
  width: 80%;
  height: 80%;
  background: rgba(255, 255, 255, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  -webkit-transition: all ease-in-out 600ms;
  transition: all ease-in-out 600ms;
  top: 140%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media screen and (max-width: 740px) {
    .hidden-module-text {
      width: 80%;
      height: 50%;
      top: 50%;
      background: rgba(255, 255, 255, 0.85);
      border: 2px solid white; } }
  .hidden-module-text i {
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all ease-in-out 600ms;
    transition: all ease-in-out 600ms;
    top: -60px; }
    @media screen and (max-width: 740px) {
      .hidden-module-text i {
        display: none; } }
  .hidden-module-text h5 {
    font-weight: normal; }
    @media screen and (max-width: 740px) {
      .hidden-module-text h5 {
        color: #555; } }
  .hidden-module-text a {
    -webkit-transition: color ease-in-out 200ms;
    transition: color ease-in-out 200ms; }
  .hidden-module-text a:hover {
    text-decoration: none;
    color: #3c3e16; }

.module:hover > .hidden-module-text {
  top: 50%; }
  .module:hover > .hidden-module-text i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: -30px; }

.image-container .package-text {
  padding: 30px;
  width: 50%; }
  @media screen and (max-width: 950px) {
    .image-container .package-text {
      padding: 0px;
      padding-bottom: 20px;
      width: 100%; } }
  .image-container .package-text h3:first-child {
    text-align: center; }
  .image-container .package-text h3, .image-container .package-text ul, .image-container .package-text p {
    color: #555;
    text-align: justify; }
  .image-container .package-text h3 {
    color: black;
    padding-top: 10px; }
    @media screen and (max-width: 540px) {
      .image-container .package-text h3 {
        text-align: left; } }
  .image-container .package-text p, .image-container .package-text ul {
    padding-top: 12px; }
  .image-container .package-text li {
    font-size: 0.9em;
    padding: 5px;
    list-style-type: none; }
    .image-container .package-text li:nth-child(odd) {
      background: rgba(219, 219, 219, 0.4); }
  .image-container .package-text .highlight {
    color: black;
    font-weight: bold;
    font-size: 1.1em; }

.view-md {
  display: none; }
  @media screen and (max-width: 950px) {
    .view-md {
      display: block; } }

.nav-main {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  height: 60px;
  z-index: 4;
  width: 100%; }
  @media screen and (max-width: 740px) {
    .nav-main {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      overflow: hidden; } }
  .nav-main .title {
    display: none;
    width: 0px;
    margin: 0 auto; }
    @media screen and (max-width: 740px) {
      .nav-main .title {
        display: inline;
        width: 200px; } }
  .nav-main .menu-bars {
    margin-left: 5%; }
    .nav-main .menu-bars:hover {
      cursor: pointer; }
    .nav-main .menu-bars .nav-line {
      opacity: 1;
      -webkit-transform: rotate(0) scale(1);
      transform: rotate(0) scale(1);
      top: 0;
      -webkit-transition: all ease-in-out 200ms;
      transition: all ease-in-out 200ms;
      position: relative;
      display: none;
      height: 3px;
      background: #555;
      margin-bottom: 5px;
      width: 30px; }
      @media screen and (max-width: 740px) {
        .nav-main .menu-bars .nav-line {
          display: block;
          width: 30px; } }
  .nav-main ul {
    position: relative;
    z-index: 5;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 80%;
    color: #555;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 60px;
    text-transform: uppercase;
    font-size: 0.8em; }
    @media screen and (max-width: 740px) {
      .nav-main ul {
        display: none; } }
    .nav-main ul li {
      white-space: nowrap;
      height: 100%;
      position: relative;
      padding: 25px 40px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
      .nav-main ul li:hover {
        cursor: pointer; }

.menu-bars.shift {
  margin-left: 3%; }

.bottom-border {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.85);
  position: absolute;
  z-index: 2;
  top: 63px; }

/*====================== Start of Side Nav =====================//*/
.side-nav {
  padding: 40px;
  position: absolute;
  height: 100vh;
  left: -300px;
  z-index: 6;
  width: 0%;
  color: #555;
  background: white;
  -webkit-transition: left ease-in-out 200ms;
  transition: left ease-in-out 200ms; }
  @media screen and (max-width: 740px) {
    .side-nav.push {
      left: 0;
      width: 80%; } }
  .side-nav li {
    list-style: none;
    border-bottom: 1px solid rgba(130, 130, 130, 0.4); }
    .side-nav li:last-child {
      border: none; }
  .side-nav h2 {
    padding: 15px 5px;
    font-size: 1.2em; }
  .side-nav .side-drop-menu {
    position: relative;
    -webkit-transition: all ease-in-out 500ms;
    transition: all ease-in-out 500ms;
    margin-left: 30px;
    opacity: 1;
    max-height: 200px; }
    .side-nav .side-drop-menu li {
      list-style: circle;
      padding: 15px 0; }
      .side-nav .side-drop-menu li:first-child {
        padding-top: 0; }

.side-dropdown:active > .side-drop-menu {
  opacity: 1;
  max-height: 200px; }

/*====================== Dropdown Menu =====================//*/
.dropdown:hover > ul.dropdown-menu {
  display: block; }
.dropdown .dropdown-menu {
  background: white;
  height: auto;
  z-index: 10;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 60px;
  position: absolute;
  display: none;
  width: 200px; }
  .dropdown .dropdown-menu:hover {
    display: block; }
  .dropdown .dropdown-menu li {
    padding: 20px;
    white-space: normal;
    -webkit-transition: background ease-in-out 500ms;
    transition: background ease-in-out 500ms;
    position: static;
    border: none;
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 1.3em; }
    .dropdown .dropdown-menu li:hover {
      background: rgba(130, 130, 130, 0.4); }

.footer {
  height: 160px;
  width: 100%;
  background: white;
  border-top: 1px solid #dadad7;
  bottom: 0;
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 740px) {
    .footer {
      height: 100%;
      padding: 10px 0; } }
  .footer .item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 1100px; }
    @media screen and (max-width: 740px) {
      .footer .item-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .footer .footer-item {
    width: 30%;
    text-align: center;
    border-left: 1px solid rgba(130, 130, 130, 0.4); }
    .footer .footer-item:nth-child(1) {
      border: none; }
    @media screen and (max-width: 740px) {
      .footer .footer-item:nth-child(2) {
        border-top: 1px solid rgba(130, 130, 130, 0.4);
        border-bottom: 1px solid rgba(130, 130, 130, 0.4); } }
    @media screen and (max-width: 740px) {
      .footer .footer-item {
        width: 100%;
        padding: 20px 0;
        border-left: none; } }

/*# sourceMappingURL=applications.css.map */
