* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}
#container {
  position: relative;
  position:fixed !important;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border: dotted yellow 2px;
  width:100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
#nav {
  position: relative;
  left: 5%;
  margin-top: 2%;
  width: 90%;
  font-size: .7em;
  text-transform: uppercase;
  z-index: 1;
}
#nav ul {
  overflow: auto;
  list-style-type: none;
}
#nav li {
  display: inline-block;
  opacity: 0.7;
  transition: opacity 1s, border 2s;
  margin-right: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
#nav li:hover {
  cursor: pointer;
  opacity: 1;
  border-bottom: 2px solid white;
}
#images {
  opacity: 0.4;
}
#images img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
#large-letter {
  position: absolute;
  white-space: nowrap;
  font-family: 'Miss Fajardose', cursive;
  font-size: 20em;
  opacity: 0.2;
  top: 55%;
  left: 45%;
  transform: translate(-50%,-50%);
}
#text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
}
#arrows {
  position: relative;
  top: 50%;
}
#arrows i {
  position: absolute;
  opacity: 0.5;
  transition: opacity 1s;
  margin-right: 2%;
  z-index: 2;
  margin-left: 2%;
}
#arrows i:last-child {
  right: 0%;
}
#arrows i:hover {
  opacity: 1;
  cursor: pointer;
}
#circles {
  position: absolute;
  top: 90%;
  font-size: 0.8em;
  left: 50%;
  z-index: 3;
  transform: translate(-50%,0);
}
#circles i:hover {
  cursor: pointer;
}
#images .active {
  display: block;
}
#images img {
  display: none;
}
