.blog {
  .content {
    width: 100%;
    max-width: 1400px;
    padding: 1% 0 5% 0;
    @media screen and #{$md-break} {
      padding-top: 0;
    }
    h2 {
      margin: 20px auto;
      width: auto;
      font-size: 2em;
      font-family: serif;
      border-bottom: none;
      @media screen and #{$md-break} {
        margin-top: 0;
      }
    }
    h4 {
      font-weight: bold;
      @media screen and #{$md-break} {
        display: none;
      }
    }
    a {
      text-decoration: none;
    }
    .image-container {
      display: flex;
      flex-wrap: wrap;
      .image {
        display: flex;
        align-items: center;
        position: relative;
        width: 33.33%;
        padding: 5px 5px;
        height: 100%;
        img {
          max-height: 100%;
          max-width: 100%;
          width: 100%;
        }
        @media screen and #{$md-break} {
          width: 100%;
        }
      }
    }
  }

}
.blog {
  .hover-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    width: 90%;
    height: 80%;
    background: $t-white-2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0;
    transition: opacity ease-in-out 500ms;
    @media screen and #{$md-break} {
      position: absolute;
      width: 100%;
      height: 120px;
      padding-top: 30px;
      justify-content: center;
      top: auto;
      bottom: -62px;
      opacity: 1;
    }
    small {
      font-size: .7em;
    }
    h2 {
      font-size: 1.5em;
      margin: 0;
      padding: 0;
    }
    h3 {
      margin: 10px 50px;
      padding: 10px;
      border-top: 1px solid $t-grey;
      color: $grey;
    }
  }
}

.image:hover > .hover-text {
  cursor: pointer;
  opacity: 1;
}
