* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: $black;
  color: $white;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}
.container {
  position:relative;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}
