.footer {
  height: 160px;
  width: 100%;
  background: $white;
  position: relative;
  z-index: -1;
  bottom: 0;
  color: $grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .item-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: $max-width;
  }
  .footer-item {
    width: 30%;
    text-align: center;
    border-left: 1px solid $t-grey;
    &:nth-child(1) {
      border: none;
    }
  }
}
