.portfolio .content .pricing.image-container .image-horizontal {
  padding: 0px;
  margin-top: 50px;
}
.pricing.image-container {
  hr {
    border: 0.5px solid $t-grey;
    margin: 50px auto;
    width: 100%;
    @media screen and #{$md-break} {
      margin: 30px auto;
    }
  }
  .package-text {
    width: 100%;
    @media screen and #{$lg-break} {
      padding: 0px;
      padding-bottom: 20px;
      width: 100%;
    }
    .packages-container {
      margin-top: 15px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .package {
        width: 32%;
        background: $white;
        padding: 10px;
        border: 1px solid $t-grey;
        @media screen and #{$lg-break} {
          width: 48%;
          margin-top: 10px;
        }
        @media screen and #{$md-break} {
          width: 100%;
        }
      }
      .package:first-child {
        margin-left: 0px;
      }
      .package:last-child {
        margin-right: 0px;
      }
    }
    #portraits {
      .packages-container {
        .package {
          width: 49%;
          @media screen and #{$md-break} {
            width: 100%;
          }
        }
      }
    }
    h3:first-child {
      text-align: center;
    }
    h3, ul, p {
      color: $grey;
      text-align: justify;
    }
    h3 {
      color: $black;
      padding-top: 10px;
      @media screen and #{$sm-break} {
        text-align: left;
      }
    }
    p, ul {
      padding-top: 12px;
    }
    li {
      font-size: 0.9em;
      padding: 5px;
      list-style-type: none;
      &:nth-child(odd) {
        background: lighten($t-grey, 35%);
      }
    }
    .highlight {
      color: $black;
      font-weight: bold;
      font-size: 1.1em;
    }
  }
}
.view-md {
  display: none;
  @media screen and #{$lg-break} {
    display: block;
  }
}
