h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  color: $grey;
}
h5 {
  font-size: 1.1em;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 5px;
  color: $light-grey;
}
